.vancouver-page .main {
    background-image: url('vann.jpg'); 
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

.main {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-image: url('mountains.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin:0;
}


nav {
    width: 100%;
    position: sticky;
    margin: 0 auto;
    z-index: 1;
    display: flex;
    align-items: flex-start;
}
.logo {
    flex-basis: 20%
}

.logo img {
    width: 90px;
    border: 1% solid white;
    border-radius: 4%;
    padding: 5%;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul {
    margin-top: 30px; 
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

.nav-links ul li a { 
    color: black;
    text-decoration: none;
}
/* html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
   */

/* .itinerary {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 70%);
    width: 50%;
    padding: 20px;
    background: rgba(255, 255, 255, 0.5);
  }
  
   */
   .itinerary {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    width: 75%; 
    max-height: 240%; 
    padding: 20px;
    background: rgba(255, 255, 255, 0.5);
    overflow: auto; 
    box-sizing: border-box;
  }
  
  .itinerary::-webkit-scrollbar {
    display: none;
  }
  
  .itinerary:hover::-webkit-scrollbar {
    display: block;
  }

  .itinerary h2 {
    margin-top: 40px; 
  }

  .itinerary p {
    position: relative; 
    margin-left: 0;
    padding-left: 20px; 
}

.itinerary p::before {
    content: ''; 
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 4px;
    height: 4px; 
    background-color: black; 
    border-radius: 50%; 
    margin-left: 5px;
    margin-right: 5px; 
}

.itinerary a.itinerary-link {
    color: inherit; 
    text-decoration: none; 
    font-style: italic;
}

.itinerary a.itinerary-link:hover {
    text-decoration: underline; 
}